{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
                <div class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">UPDATE IN PROCESSS</h4>
                            </div>
                            <div class="modal-body">
                                <p>We are updating your blacklists, this my take a while, so you can continue to use the proxy or this web interface while this process is runing.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="/">Home</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
